<h1>All Element Types</h1>

<% if @types.empty? %>
    <p>There are no Pokemon Types</p>
<% else %>
    <ul class="list-group">
        <% @types.each do |type| %>
            <li class="list-group-item"><%= type.name %></li>
        <% end %>
    </ul>
<% end %>