<h1><%= @type.name.titleize %> Pokemons</h1>

<% if @type.pokemons.empty? %>
    <p>There are no <%= @type.name.titleize %> Pokemons</p>
<% else %>
    <ul>
        <% @type.pokemons.each do |pokemon| %>
            <li><%= link_to pokemon.name, pokemon %></li>
        <% end %>
    </ul>
<% end %>
