<h1>Home Page</h1>

<img src="/images/ERD_Diagram.PNG" class="img-fluid" alt="ERD Diagram">

<p>Pokémon and Ability have a many to many relationship</p>
<p>Pokémon and Type have a many to many relationship</p>
<p>Ability and Type have a many to many relationship</p>
<p>Pokémon Table have a self-join one to many relationship to it’s evolution, where a Pokémon may have many evolution but that evolution came from the Pokémon.</p>

<p>Grab all Pokémon names, type and abilities: <a href="https://pokeapi.co/api/v2/pokemon/ditto">link</a></p>
<p>GEM for pokemon: <a href="https://github.com/rdavid1099/poke-api-v2">https://github.com/rdavid1099/poke-api-v2</a> </p>
<p>I am also going to use <a href="https://www.smogon.com/dex/ss/pokemon/">link</a> for Pokémon’s evolution reference.</p>

<%# https://github.com/rdavid1099/poke-api-v2 %>