<h1>Home Page</h1>

<img src="/images/ERD_Diagram.PNG" class="img-fluid" alt="ERD Diagram">

<p>Pokémon and Ability have a many to many relationship</p>
<p>Pokémon and Type have a many to many relationship</p>
<p>Ability and Type have a many to many relationship</p>
<p>Pokémon Table have a self-join one to many relationship to it’s evolution, where a Pokémon may have many evolution but that evolution came from the Pokémon.</p>


<p>This is the main website of my Data Set for my Pokemon: <a href="https://pokeapi.co/">Link</a></p>
<p>Grab all Pokémons and it's informations: <a href="https://pokeapi.co/api/v2/pokemon/">link</a></p>
<p>Grab all Pokemon Element Types: <a href="https://pokeapi.co/api/v2/type/">link</a></p>
<p>Grab all Pokemon Abilities: <a href="https://pokeapi.co/api/v2/ability/">link</a></p>

<p>GEM for pokemon: <a href="https://github.com/rdavid1099/poke-api-v2">https://github.com/rdavid1099/poke-api-v2</a> - I never really used it</p>
<p>I am also going to use <a href="https://www.smogon.com/dex/ss/pokemon/">link</a> for Pokémon’s evolution reference.</p>