<h1>All Pokemons</h1>

<% if @pokemons.empty? %>
    <p>There are no Pokemons</p>
<% else %>
    <ul>
        <% @pokemons.each do |pokemon| %>
            <li><%= link_to pokemon.name, pokemon %></li>
        <% end %>
    </ul>
<% end %>

