<h1>All Pokemons</h1>

<% if @pokemons.empty? %>
    <p>There are no Pokemons</p>
<% else %>


    <ul class="list-group">
        <% @pokemons.each do |pokemon| %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                    <h4><%= link_to pokemon.name.titleize, pokemon %></h4>
                </div>

                <div class="col-6">
                    <h4>Element Types</h4>
                    <% pokemon.types.each do |type| %>
                        <p><%= type.name.titleize %></p>
                    <% end %>
                </div>
            </div>




            </li>
        <% end %>
    </ul>
<% end %>

