/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.element_type
{
    border: black solid;
    border-radius: 3rem;
}

.element_type h3 a
{
    color: white;
}

.normal
{
    background-color: rgb(173, 173, 134)
}

.water
{
    background-color: rgb(0, 119, 255);
}

.fighting
{
    background-color: red;
}

.flying
{
    background-color: violet
}

.poison
{
    background-color: rgb(178, 28, 243)
}

.ground
{
    background-color: burlywood;
}

.rock
{
    background-color: rgb(223, 152, 60);
}

.bug
{
    background-color: rgb(134, 196, 41);
}

.ghost
{
    background-color: purple;
}

.steel
{
    background-color: grey;
}

.fire
{
    background-color: orange;
}

.grass
{
    background-color: rgb(75, 218, 75);
}

.electric
{
    background-color: rgb(240, 240, 46);
}

.psychic
{
    background-color: rgb(207, 88, 108);
}

.ice
{
    background-color: lightblue;
}

.dragon
{
    background-color: rgb(119, 0, 255);
}

.dark
{
    background-color: rgb(105, 86, 86);
}

.fairy
{
    background-color: rgb(245, 198, 206);
}

.shadow
{
    background-color: black;
}
.unknown
{
    background-color: rgb(75, 12, 75);
}
