// Place all the styles related to the types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.element_type
{
    border-radius: 3rem;
    border-width: thick;
}

.element_type h3 a
{
    color: black;
}

.normal
{
    background-color: bisque;
}

.water
{
    background-color: aqua;
}